<a href="https://colab.research.google.com/github/ElviraKonovalov/soen471-bigData/blob/main/features_1_9_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [136]:

#testing for data 1-9
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [137]:
file = 'Motor Vehicle Collisions with KSI Data.csv'
df=  pd.read_csv(file, sep=',');

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [138]:
columns_to_drop = ['_id', 'ACCNUM', 'TIME', 'OFFSET', 'WARDNUM', 'DIVISION', 'ACCLOC', 'FATAL_NO', 'PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT', 'CYCCOND', 'POLICE_DIVISION', 'ObjectId', 'geometry']
df = df.drop(columns=columns_to_drop)

In [139]:
df = df.iloc[:, 0:9] #Matt's section
df

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT
0,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,Failed to Yield Right of Way
1,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,NaN
2,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Disobeyed Traffic Control
3,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Driving Properly
4,Fatal,NaN,Yes,Yes,NaN,2006-03-12T00:00:00,NaN,Scarborough,Other
...,...,...,...,...,...,...,...,...,...
16855,Non-Fatal Injury,Yes,NaN,Yes,Yes,2020-08-30T00:00:00,NaN,NaN,NaN
16856,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Failed to Yield Right of Way
16857,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Driving Properly
16858,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,NaN
16859,Non-Fatal Injury,NaN,NaN,Yes,Yes,2020-09-01T00:00:00,NaN,NaN,Improper Lane Change

ACCLASS [Accident Class] - Keep, Modify

Description of change: 
Fatal -> 1;
Non-Fatal Injury -> 0;
Get rid of property damage only [2rows]

In [140]:
#replace fatal with 1, non fatal with 0

df['ACCLASS'] = df['ACCLASS'].replace(['Fatal'], 1)
df['ACCLASS'] = df['ACCLASS'].replace(['Non-Fatal Injury'], 0)
#drop rows (2) where there was only property Damage
df.drop(df.index[df['ACCLASS'] == 'Property Damage Only'], inplace=True)

AG_DRIV [Aggrivated Driving?] - Keep/Modify
Null -> 0;
Yes -> 1;

In [141]:
df.AG_DRIV.fillna(0, inplace=True)
df['AG_DRIV'] = df['AG_DRIV'].replace(['Yes'], 1)

ALCOHOL [was alcohol use present] - Keep/Modify

Yes -> 1;
NA -> 0;

In [142]:
df.ALCOHOL.fillna(0, inplace=True) #replaces NA to 0
df['ALCOHOL'] = df['ALCOHOL'].replace(['Yes'], 1) #replaces YES to 1

AUTOMOBILE [was an auto involved] DROP

In [143]:
df = df.drop(columns='AUTOMOBILE') #drop auto column

CYCLIST [was a cyclist involved] DROP

In [144]:
df = df.drop(columns='CYCLIST') #drop bike column

DATE [date of accident] KEEP/MODIFY

Tranform into month of incident; jan = 1; feb = 2; mar = 3; etc.

In [145]:
#first we will have to convert the data type to DateTime
df['DATE'] = pd.to_datetime(df['DATE'])

#now we will transform the data in the DATE column to simply present the month in integer form
df['DATE'] = df['DATE'].dt.month

DISABILITY [did the user have a disability] KEEP/MODIFY
Nan -> 0;
YES -> 1;

In [146]:
df.DISABILITY.fillna(0, inplace=True) #replaces NA to 0
df['DISABILITY'] = df['DISABILITY'].replace(['Yes'], 1) #replaces YES to 1

DISTRICT [Which district of TOR did this happen] DROP

In [147]:
df = df.drop(columns='DISTRICT') #drop district

DRIVACT [driver's action at accident, dropped due to similarity to other params]; DROP

In [148]:
df = df.drop(columns='DRIVACT') #drop driver action

Final table after modifications:

In [149]:
df

      ACCLASS  AG_DRIV  ALCOHOL  DATE  DISABILITY
0           1        1        0     3           0
1           1        1        0     3           0
2           1        1        0     3           0
3           1        1        0     3           0
4           1        0        1     3           0
...       ...      ...      ...   ...         ...
16855       0        1        0     8           0
16856       0        1        0     9           0
16857       0        1        0     9           0
16858       0        1        0     9           0
16859       0        0        0     9           0

[16858 rows x 5 columns]

## **END OF PARAM 1-9 MODIFICATION/PREP**