<a href="https://colab.research.google.com/github/ElviraKonovalov/soen471-bigData/blob/main/features_27_37_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
file = 'Motor Vehicle Collisions with KSI Data.csv'
df=  pd.read_csv(file, sep=',');

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [55]:
columns_to_drop = ['_id', 'ACCNUM', 'TIME', 'OFFSET', 'WARDNUM', 'DIVISION', 'ACCLOC', 'FATAL_NO', 'PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT', 'CYCCOND', 'POLICE_DIVISION', 'ObjectId', 'geometry']
df = df.drop(columns=columns_to_drop)

In [56]:
df.iloc[:, 27:37] # elvira

,ROAD_CLASS,SPEEDING,STREET1,STREET2,TRAFFCTL,TRSN_CITY_VEH,TRUCK,VEHTYPE,VISIBILITY,YEAR
0,Major Arterial,NaN,BLOOR ST W,DUNDAS ST W,Traffic Signal,NaN,NaN,"Automobile, Station Wagon",Clear,2006
1,Major Arterial,NaN,BLOOR ST W,DUNDAS ST W,Traffic Signal,NaN,NaN,Other,Clear,2006
2,Major Arterial,NaN,MORNINGSIDE AVE,SHEPPARD AVE E,Traffic Signal,NaN,NaN,Motorcycle,Clear,2006
3,Major Arterial,NaN,MORNINGSIDE AVE,SHEPPARD AVE E,Traffic Signal,NaN,NaN,"Automobile, Station Wagon",Clear,2006
4,Major Arterial,NaN,EGLINTON AVE E,COMMONWEALTH AVE,No Control,NaN,NaN,"Automobile, Station Wagon",Clear,2006
...,...,...,...,...,...,...,...,...,...,...
16855,NaN,NaN,BRIMLEY RD,BARKDENE HILLS,No Control,NaN,NaN,Bicycle,Clear,2020
16856,Major Arterial,NaN,EGLINTON AVE E,BELLAMY RD N,Traffic Signal,NaN,NaN,"Automobile, Station Wagon",Clear,2020
16857,Major Arterial,NaN,EGLINTON AVE E,BELLAMY RD N,Traffic Signal,NaN,NaN,"Automobile, Station Wagon",Clear,2020
16858,Major Arterial,NaN,EGLINTON AVE E,BELLAMY RD N,Traffic Signal,NaN,NaN,NaN,Clear,2020
16859,NaN,NaN,BLOOR ST W,GLADSTONE AVE,No Control,NaN,NaN,"Automobile, Station Wagon",Clear,2020

### ROAD_CLASS

In [57]:
df.ROAD_CLASS.unique() # inital road_class categories

array(['Major Arterial', 'Collector', 'Minor Arterial', 'Local', nan,
       'Other', 'Pending', 'Laneway', 'Expressway', 'Expressway Ramp',
       'Major Arterial Ramp'], dtype=object)

In [58]:
df.ROAD_CLASS.isnull().sum() # how many nan values in road_class column

497

In [59]:
'''
"Every street owned by the City of Toronto has been given one of five classifications (with the exception of public laneways)."
classes: Local road, Collector road, Minor arterial road, Major arterical road and Expressway
https://www.toronto.ca/services-payments/streets-parking-transportation/traffic-management/road-classification-system/about-the-road-classification-system/
'''
# replace nan values with most frequent value in the column
df['ROAD_CLASS'] = df['ROAD_CLASS'].fillna(df['ROAD_CLASS'].value_counts().index[0])
print(df.ROAD_CLASS.unique()) # road_class values without nan 
df.ROAD_CLASS.isnull().sum() # how many nan values after fillna

['Major Arterial' 'Collector' 'Minor Arterial' 'Local' 'Other' 'Pending'
 'Laneway' 'Expressway' 'Expressway Ramp' 'Major Arterial Ramp']

0

In [60]:
# drop rows where ROAD_CLASS is pending
df.drop(df.index[df['ROAD_CLASS'] == 'Pending'], inplace=True)
print(df.ROAD_CLASS.unique())

['Major Arterial' 'Collector' 'Minor Arterial' 'Local' 'Other' 'Laneway'
 'Expressway' 'Expressway Ramp' 'Major Arterial Ramp']

In [61]:
df.groupby("ROAD_CLASS").count()

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,REDLIGHT,SPEEDING,STREET1,STREET2,TRAFFCTL,TRSN_CITY_VEH,TRUCK,VEHTYPE,VISIBILITY,YEAR
ROAD_CLASS,,,,,,,,,,,,,,,,,,,,,
Collector,929,492,70,838,124,929,18,929,446,446,...,12,175,929,745,929,31,45,801,929,929
Expressway,52,33,1,48,0,52,2,52,33,33,...,0,20,52,52,52,0,5,36,52,52
Expressway Ramp,4,0,0,4,0,4,0,4,2,2,...,0,0,4,4,4,0,0,2,4,4
Laneway,10,4,0,8,0,10,0,10,5,5,...,0,4,10,10,10,0,2,6,10,10
Local,761,267,12,676,103,761,17,760,328,327,...,0,70,761,546,761,10,38,646,761,761
Major Arterial,12473,6494,561,11353,1173,12473,378,12334,6338,6341,...,1224,1653,12473,11607,12447,803,814,10358,12457,12473
Major Arterial Ramp,1,1,0,1,0,1,0,1,1,1,...,0,1,1,1,1,0,0,1,1,1
Minor Arterial,2598,1399,95,2356,379,2598,53,2597,1295,1295,...,173,353,2598,2362,2595,164,138,2166,2596,2598
Other,25,9,0,17,0,25,0,25,9,9,...,0,5,25,16,25,3,0,25,25,25

In [62]:
# replacing Expressway Ramp (4 rows) with Expressway
df['ROAD_CLASS'] = df['ROAD_CLASS'].replace(['Expressway Ramp'],'Expressway')
# Major Arterial Ramp (1 row) with Major Arterial
df['ROAD_CLASS'] = df['ROAD_CLASS'].replace(['Major Arterial Ramp'],'Major Arterial')
df.groupby("ROAD_CLASS").count()

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,REDLIGHT,SPEEDING,STREET1,STREET2,TRAFFCTL,TRSN_CITY_VEH,TRUCK,VEHTYPE,VISIBILITY,YEAR
ROAD_CLASS,,,,,,,,,,,,,,,,,,,,,
Collector,929,492,70,838,124,929,18,929,446,446,...,12,175,929,745,929,31,45,801,929,929
Expressway,56,33,1,52,0,56,2,56,35,35,...,0,20,56,56,56,0,5,38,56,56
Laneway,10,4,0,8,0,10,0,10,5,5,...,0,4,10,10,10,0,2,6,10,10
Local,761,267,12,676,103,761,17,760,328,327,...,0,70,761,546,761,10,38,646,761,761
Major Arterial,12474,6495,561,11354,1173,12474,378,12335,6339,6342,...,1224,1654,12474,11608,12448,803,814,10359,12458,12474
Minor Arterial,2598,1399,95,2356,379,2598,53,2597,1295,1295,...,173,353,2598,2362,2595,164,138,2166,2596,2598
Other,25,9,0,17,0,25,0,25,9,9,...,0,5,25,16,25,3,0,25,25,25

In [63]:
# get one hot encoding of columns ROAD_CLASS
hot = pd.get_dummies(df['ROAD_CLASS'])
# drop column ROAD_CLASS as it is now encoded
df = df.drop('ROAD_CLASS',axis = 1)
# join the encoded df
df = df.join(hot)
df

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
0,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,Failed to Yield Right of Way,Unknown,...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
1,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,NaN,NaN,...,Other,Clear,2006,0,0,0,0,1,0,0
2,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Disobeyed Traffic Control,Unknown,...,Motorcycle,Clear,2006,0,0,0,0,1,0,0
3,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Driving Properly,Unknown,...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
4,Fatal,NaN,Yes,Yes,NaN,2006-03-12T00:00:00,NaN,Scarborough,Other,"Ability Impaired, Alcohol",...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16855,Non-Fatal Injury,Yes,NaN,Yes,Yes,2020-08-30T00:00:00,NaN,NaN,NaN,NaN,...,Bicycle,Clear,2020,0,0,0,0,1,0,0
16856,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Failed to Yield Right of Way,Inattentive,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0
16857,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Driving Properly,Normal,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0
16858,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,NaN,NaN,...,NaN,Clear,2020,0,0,0,0,1,0,0
16859,Non-Fatal Injury,NaN,NaN,Yes,Yes,2020-09-01T00:00:00,NaN,NaN,Improper Lane Change,Normal,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0

### SPEEDING

In [64]:
# replacing nan with 0 ('No') and 'Yes' with 1
print(df.SPEEDING.unique())
df['SPEEDING'] = df['SPEEDING'].fillna(0)
print(df.SPEEDING.unique())
df['SPEEDING'] = df['SPEEDING'].replace(['Yes'], 1)
print(df.SPEEDING.unique())

[nan 'Yes']
[0 'Yes']
[0 1]

### STREET1 and STREET2

In [65]:
# keep streets to use for later
street1 = df.STREET1
street2 = df.STREET2

In [66]:
# unnecessary? too many street values, drop columns?
df = df.drop(columns=['STREET1', 'STREET2'])
df

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
0,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,Failed to Yield Right of Way,Unknown,...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
1,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,NaN,NaN,...,Other,Clear,2006,0,0,0,0,1,0,0
2,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Disobeyed Traffic Control,Unknown,...,Motorcycle,Clear,2006,0,0,0,0,1,0,0
3,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Driving Properly,Unknown,...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
4,Fatal,NaN,Yes,Yes,NaN,2006-03-12T00:00:00,NaN,Scarborough,Other,"Ability Impaired, Alcohol",...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16855,Non-Fatal Injury,Yes,NaN,Yes,Yes,2020-08-30T00:00:00,NaN,NaN,NaN,NaN,...,Bicycle,Clear,2020,0,0,0,0,1,0,0
16856,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Failed to Yield Right of Way,Inattentive,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0
16857,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Driving Properly,Normal,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0
16858,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,NaN,NaN,...,NaN,Clear,2020,0,0,0,0,1,0,0
16859,Non-Fatal Injury,NaN,NaN,Yes,Yes,2020-09-01T00:00:00,NaN,NaN,Improper Lane Change,Normal,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0

### TRAFFCTL
not sure about this one

In [67]:
df.groupby('TRAFFCTL').count()

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
TRAFFCTL,,,,,,,,,,,,,,,,,,,,,
No Control,8085,3259,450,7246,807,8085,270,7989,4028,4032,...,6768,8073,8085,8085,8085,8085,8085,8085,8085,8085
Pedestrian Crossover,195,168,7,181,13,195,0,195,89,89,...,163,195,195,195,195,195,195,195,195,195
Police Control,2,2,0,2,0,2,0,2,1,1,...,2,2,2,2,2,2,2,2,2,2
School Guard,2,2,0,2,0,2,0,2,1,1,...,2,2,2,2,2,2,2,2,2,2
Stop Sign,1295,853,50,1222,219,1295,8,1280,672,671,...,1113,1295,1295,1295,1295,1295,1295,1295,1295,1295
Streetcar (Stop for),16,12,0,12,4,16,0,16,5,5,...,9,16,16,16,16,16,16,16,16,16
Traffic Controller,104,49,4,86,12,104,8,103,62,62,...,84,104,104,104,104,104,104,104,104,104
Traffic Gate,5,0,0,5,0,5,0,5,0,0,...,5,5,5,5,5,5,5,5,5,5
Traffic Signal,7104,4342,224,6503,724,7104,182,7075,3590,3589,...,5852,7098,7104,7104,7104,7104,7104,7104,7104,7104
Yield Sign,16,10,4,13,0,16,0,16,8,9,...,14,16,16,16,16,16,16,16,16,16

### TRSN_CITY_VEH - drop
Transit or City Vehicle Involved in Collision

not sure if needed

In [73]:
# replace nan with 0 ('No') and 'Yes' with 1
df['TRSN_CITY_VEH'] = df['TRSN_CITY_VEH'].fillna(0)
df.TRSN_CITY_VEH.replace(('Yes'), (1), inplace=True)
df.groupby('TRSN_CITY_VEH').count()

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
TRSN_CITY_VEH,,,,,,,,,,,,,,,,,,,,,
0,15842,8318,707,14887,1701,15842,463,15708,8030,8032,...,13226,15826,15842,15842,15842,15842,15842,15842,15842,15842
1,1011,381,32,414,78,1011,5,1004,427,427,...,815,1009,1011,1011,1011,1011,1011,1011,1011,1011

In [97]:
df = df.drop(columns='TRSN_CITY_VEH')

### TRUCK - drop
Truck Driver Involved in Collision

In [75]:
# replace nan with 0 ('No') and 'Yes' with 1
df['TRUCK'] = df['TRUCK'].fillna(0)
df.TRUCK.replace(('Yes'), (1), inplace=True)
df.groupby('TRUCK').count()

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
TRUCK,,,,,,,,,,,,,,,,,,,,,
0,15811,8188,724,14791,1656,15811,449,15676,7945,7945,...,13148,15795,15811,15811,15811,15811,15811,15811,15811,15811
1,1042,511,15,510,123,1042,19,1036,512,514,...,893,1040,1042,1042,1042,1042,1042,1042,1042,1042

In [96]:
df = df.drop(columns='TRUCK')

### VEHTYPE
Type of Vehicle

In [76]:
df.groupby('VEHTYPE').count()

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,TRUCK,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
VEHTYPE,,,,,,,,,,,,,,,,,,,,,
"Automobile, Station Wagon",6886,3823,330,6886,628,6886,261,6827,6682,6680,...,6886,6879,6886,6886,6886,6886,6886,6886,6886,6886
Bicycle,722,249,6,610,722,722,0,713,0,1,...,722,722,722,722,722,722,722,722,722,722
"Bus (Other) (Go Bus, Gray Coach)",13,10,0,5,1,13,0,13,13,13,...,13,13,13,13,13,13,13,13,13,13
Construction Equipment,4,0,0,3,0,4,0,4,3,3,...,4,4,4,4,4,4,4,4,4,4
Delivery Van,72,41,2,72,9,72,3,70,71,71,...,72,72,72,72,72,72,72,72,72,72
Fire Vehicle,3,2,0,2,0,3,1,3,3,3,...,3,3,3,3,3,3,3,3,3,3
Intercity Bus,10,3,1,3,1,10,0,10,9,9,...,10,9,10,10,10,10,10,10,10,10
Moped,22,11,0,14,22,22,0,22,16,16,...,22,22,22,22,22,22,22,22,22,22
Motorcycle,608,361,12,432,4,608,3,593,607,608,...,608,607,608,608,608,608,608,608,608,608
Municipal Transit Bus (TTC),249,79,6,78,18,249,1,246,246,246,...,249,249,249,249,249,249,249,249,249,249
Off Road - 2 Wheels,1,1,0,0,0,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Other,4745,2315,261,4243,173,4745,128,4745,56,56,...,4745,4745,4745,4745,4745,4745,4745,4745,4745,4745
Other Emergency Vehicle,1,0,0,1,0,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Passenger Van,118,61,3,118,9,118,6,118,117,117,...,118,117,118,118,118,118,118,118,118,118
Pick Up Truck,178,114,5,178,18,178,7,177,176,177,...,178,178,178,178,178,178,178,178,178,178
Police Vehicle,4,3,0,2,2,4,0,4,3,3,...,4,4,4,4,4,4,4,4,4,4
School Bus,5,4,1,3,0,5,0,5,4,4,...,5,4,5,5,5,5,5,5,5,5
Street Car,42,4,0,7,8,42,1,42,42,42,...,42,42,42,42,42,42,42,42,42,42
Taxi,28,12,0,28,2,28,1,28,27,27,...,28,28,28,28,28,28,28,28,28,28
Tow Truck,4,3,0,4,0,4,0,4,4,4,...,4,4,4,4,4,4,4,4,4,4
Truck (other),13,6,0,4,1,13,1,13,12,12,...,13,13,13,13,13,13,13,13,13,13
Truck - Car Carrier,1,0,0,0,0,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
"Truck - Closed (Blazer, etc)",60,28,1,17,9,60,1,59,58,59,...,60,59,60,60,60,60,60,60,60,60
Truck - Dump,34,15,0,14,5,34,1,34,33,33,...,34,34,34,34,34,34,34,34,34,34
Truck - Open,175,79,2,78,24,175,3,174,173,173,...,175,175,175,175,175,175,175,175,175,175
Truck - Tank,10,4,0,1,3,10,0,10,10,10,...,10,10,10,10,10,10,10,10,10,10
Truck-Tractor,33,19,1,11,4,33,0,32,33,33,...,33,33,33,33,33,33,33,33,33,33

In [87]:
# replacing any type of Bus with Bus
df['VEHTYPE'] = df['VEHTYPE'].replace(['Bus (Other) (Go Bus, Gray Coach)', 'School Bus', 'Municipal Transit Bus (TTC)', 'Intercity Bus'], 'Bus')
# replacing any type of truck with Truck
df['VEHTYPE'] = df['VEHTYPE'].replace(['Truck-Tractor', 'Truck - Tank', 'Truck - Open', 'Truck - Dump', 'Truck - Closed (Blazer, etc)', 'Truck - Car Carrier', 'Truck (other)', 'Tow Truck', 'Pick Up Truck', ], 'Truck')
# replacing any type of emergency vehicle with Emergency
df['VEHTYPE'] = df['VEHTYPE'].replace(['Police Vehicle', 'Other Emergency Vehicle', 'Fire Vehicle'], 'Emergency')
# replacing any type of van with Van
df['VEHTYPE'] = df['VEHTYPE'].replace(['Delivery Van', 'Passenger Van'], 'Van')

df.VEHTYPE.value_counts()

Automobile, Station Wagon    6886
Other                        4745
Bicycle                       722
Motorcycle                    608
Truck                         508
Bus                           277
Van                           190
Street Car                     42
Taxi                           28
Moped                          22
Emergency                       8
Construction Equipment          4
Off Road - 2 Wheels             1
Name: VEHTYPE, dtype: int64

**other categories to remove? or combine? <br>
add Off Road - 2 Wheels? to Other?<br>
combine Moped and Motorcycle?**<br>

### VISIBILITY
Environment Condition

In [85]:
df.VISIBILITY.value_counts()

Clear                     14470
Rain                       1819
Snow                        331
Other                        99
Fog, Mist, Smoke, Dust       46
Freezing Rain                43
Drifting Snow                19
Strong wind                   8
Name: VISIBILITY, dtype: int64

In [94]:
# Label Encoding
df['VISIBILITY'] = df['VISIBILITY'].astype('category').cat.codes
df.VISIBILITY.value_counts()

1    14470
6     1819
7      331
5       99
3       46
4       43
2       19
0       18
8        8
Name: VISIBILITY, dtype: int64

### YEAR

In [95]:
df = df.drop(columns='YEAR')

In [46]:
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer

In [101]:
# y = df.INJURY
# df = df.drop(columns=['INJURY'])
X = df.iloc[:, 27:37]

In [102]:
# Instantiate the clustering model and visualizer
model = KMeans()
visualizer = KElbowVisualizer(model, k=(4,12))

visualizer.fit(X)        # Fit the data to the visualizer
visualizer.show()        # Finalize and render the figure

ValueError: ignored