<a href="https://colab.research.google.com/github/ElviraKonovalov/soen471-bigData/blob/main/features_9_18_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
file = 'Motor Vehicle Collisions with KSI Data.csv'
df =  pd.read_csv(file, sep=',');

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
columns_to_drop = ['_id', 'ACCNUM', 'TIME', 'OFFSET', 'WARDNUM', 'DIVISION', 'ACCLOC', 'FATAL_NO', 'PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT', 'CYCCOND', 'POLICE_DIVISION', 'ObjectId', 'geometry']
df = df.drop(columns=columns_to_drop)

In [24]:
df = df.iloc[:, 9:18]
df

,DRIVCOND,EMERG_VEH,HOOD_ID,HOUR,IMPACTYPE,INITDIR,INJURY,INVAGE,INVTYPE
0,Unknown,NaN,88,8,Pedestrian Collisions,South,None,unknown,Driver
1,NaN,NaN,88,8,Pedestrian Collisions,North,Fatal,65 to 69,Pedestrian
2,Unknown,NaN,131,9,Turning Movement,East,Fatal,45 to 49,Motorcycle Driver
3,Unknown,NaN,131,9,Turning Movement,South,None,unknown,Driver
4,"Ability Impaired, Alcohol",NaN,138,2,Pedestrian Collisions,West,None,25 to 29,Driver
...,...,...,...,...,...,...,...,...,...
16855,NaN,NaN,123,13,Cyclist Collisions,North,Major,25 to 29,Cyclist
16856,Inattentive,NaN,138,12,Turning Movement,East,None,65 to 69,Driver
16857,Normal,NaN,138,12,Turning Movement,West,Minor,30 to 34,Driver
16858,NaN,NaN,138,12,Turning Movement,NaN,Major,10 to 14,Passenger
16859,Normal,NaN,93,12,Cyclist Collisions,East,None,50 to 54,Driver

In [25]:
#DRIVCOND: REPLACING ALL NULL DRIVER CONDITIONS WITH UNKNOWN

#df.DRIVCOND.fillna("Unknown", inplace=True)
df = df.drop(columns = ['DRIVCOND'])
df

,EMERG_VEH,HOOD_ID,HOUR,IMPACTYPE,INITDIR,INJURY,INVAGE,INVTYPE
0,NaN,88,8,Pedestrian Collisions,South,None,unknown,Driver
1,NaN,88,8,Pedestrian Collisions,North,Fatal,65 to 69,Pedestrian
2,NaN,131,9,Turning Movement,East,Fatal,45 to 49,Motorcycle Driver
3,NaN,131,9,Turning Movement,South,None,unknown,Driver
4,NaN,138,2,Pedestrian Collisions,West,None,25 to 29,Driver
...,...,...,...,...,...,...,...,...
16855,NaN,123,13,Cyclist Collisions,North,Major,25 to 29,Cyclist
16856,NaN,138,12,Turning Movement,East,None,65 to 69,Driver
16857,NaN,138,12,Turning Movement,West,Minor,30 to 34,Driver
16858,NaN,138,12,Turning Movement,NaN,Major,10 to 14,Passenger
16859,NaN,93,12,Cyclist Collisions,East,None,50 to 54,Driver

In [26]:
#EMERG_VEH: REPLACE NULL VALUES WITH 0 AND 'YES' VALUES WITH 1

df.EMERG_VEH.fillna(0, inplace=True)
df.EMERG_VEH = df.EMERG_VEH.replace(['Yes'], 1, inplace=True)
df

,EMERG_VEH,HOOD_ID,HOUR,IMPACTYPE,INITDIR,INJURY,INVAGE,INVTYPE
0,None,88,8,Pedestrian Collisions,South,None,unknown,Driver
1,None,88,8,Pedestrian Collisions,North,Fatal,65 to 69,Pedestrian
2,None,131,9,Turning Movement,East,Fatal,45 to 49,Motorcycle Driver
3,None,131,9,Turning Movement,South,None,unknown,Driver
4,None,138,2,Pedestrian Collisions,West,None,25 to 29,Driver
...,...,...,...,...,...,...,...,...
16855,None,123,13,Cyclist Collisions,North,Major,25 to 29,Cyclist
16856,None,138,12,Turning Movement,East,None,65 to 69,Driver
16857,None,138,12,Turning Movement,West,Minor,30 to 34,Driver
16858,None,138,12,Turning Movement,NaN,Major,10 to 14,Passenger
16859,None,93,12,Cyclist Collisions,East,None,50 to 54,Driver

In [27]:
#HOOD_ID: VALUES HERE ARE RELEVANT AND VALUES CAN BE LEFT ALONE
df.HOOD_ID.unique()

array([ 88, 131, 138,  81,   6, 116,  73,  93,  95,  51,  27,  91, 137,
        30,  29, 111,  70,  92, 115,  77,  44,  42, 139, 101,  76,  32,
       128,  10, 126,  40,   9,  99,  16,  87,  98, 106,  17,  26,  78,
       119,  35,  62,  53,   4,  39,   1,  75,  96,  24,   8,  71,  63,
        94, 129, 102,  60, 110,  50,  38,  47,  18, 136,   2, 107,  11,
       127,  84,  56, 125,  89,  45,  66,  54,  59,   5,  85, 132,  12,
        83,  57,  86,  21, 135, 104, 120,  33,  43, 100,  64,  14,  48,
       109,  34, 117,  22,  80,  82, 114, 123,  58,  20,  61, 108, 103,
       122, 112,  65, 130,  52,  28,  55,  41, 124, 140, 118,  90,  46,
        79,   7,  31,  37, 105,  36,  68,   3,  23,  13, 113,  72, 133,
        67, 121,  19, 134,  69,  25,  49,  97,  15,  74])

In [28]:
#HOUR: VALUES HERE ARE RELEVANT AND CAN BE LEFT ALONE
df.HOUR.unique()

array([ 8,  9,  2, 19, 15, 17,  6,  3, 21,  7, 14, 11, 18, 16, 22, 23, 13,
       12, 20,  0,  5,  1, 10,  4])

In [29]:
#IMPACTYPE: REPLACE NULL VALUES WITH MOST FREQUENT IN COLUMN

#df.IMPACTYPE = df.IMPACTYPE.fillna(df.IMPACTYPE.value_counts().index[0])
df.IMPACTYPE.unique()
df = df.drop(columns = ['IMPACTYPE'])

In [30]:
#INITDIR: REPLACE NULL VALUES WITH UNKNOWN
#DIRECTION MIGHT BE RELEVANT IN CONJUNCTION WITH THE HOUR COLUMN, THOUGH WE COULD JUST AS EASILY REMOVE IT
#i.e. I'm driving East during a morning hour its more likely the sun will make seeing more difficult.

df.INITDIR.fillna("Unknown", inplace = True)
df.INITDIR.unique()

array(['South', 'North', 'East', 'West', 'Unknown'], dtype=object)

In [31]:
#INVAGE: THIS SHOULD ONLY BE INCLUDE IF INVTYPE IS INCLUDED

df.INVAGE = df.INVAGE.replace(['unknown'], 'Unknown') #All of the unknowns in this dataset are upper case except the ones in this collumn so it was bugging me.
df.INVAGE.unique()

#df = df.drop(columns = ['INVAGE'])

array(['Unknown', '65 to 69', '45 to 49', '25 to 29', '30 to 34',
       '40 to 44', '20 to 24', '55 to 59', '0 to 4', '35 to 39',
       '60 to 64', '50 to 54', '15 to 19', '80 to 84', '70 to 74',
       '75 to 79', '90 to 94', '10 to 14', '5 to 9', '85 to 89',
       'Over 95'], dtype=object)

In [32]:
#INVTYPE: NOT SURE IF SHOULD BE INCLUDED OR LARGELY FILTERED BECAUSE AS SHOWN BELOW THERE IS A DIVERSE NUMBER OF OPTIONS
#I'll explain better during our next meeting :)
df.INVTYPE.unique()

array(['Driver', 'Pedestrian', 'Motorcycle Driver', 'Passenger',
       'Vehicle Owner', 'Other Property Owner', 'Other', 'Cyclist',
       'Truck Driver', 'Motorcycle Passenger', nan, 'Driver - Not Hit',
       'In-Line Skater', 'Moped Driver', 'Wheelchair',
       'Pedestrian - Not Hit', 'Trailer Owner', 'Witness',
       'Cyclist Passenger'], dtype=object)

In [33]:
#INVTYPE: ATTEMPTED TO CLEAN INVTYPE AS BEST I COULD

print('EXECUTING TRANSFORMATIONS...')

 #Vehicle Owner too?
#df.INVTYPE = df.INVTYPE.replace(['Motorcycle Passenger'], 'Passenger')
#df.INVTYPE = df.INVTYPE.replace(, 'Cyclist')
#df.INVTYPE = df.INVTYPE.replace(, 'Other')
#df.INVTYPE = df.INVTYPE.replace(['Wheelchair'], 'Pedestrian')

df.INVTYPE.fillna('Unknown', inplace=True)

#Removing rows where they weren't hit, as they obviously wouldn't ever have any injuries.

rows = df.INVTYPE.unique()

#['Cyclist', 'Cyclist Passenger', 'Motorcycle Passenger', 'Passenger','In-Line Skater', 'Trailer Owner', 'Other Property Owner', 'Vehicle Owner', 'Other', 'Wheelchair', 'Pedestrian', 'Unknown', 'Witness', 'Pedestrian - Not Hit', 'Driver - Not Hit']

#Remove rows I don't like
for row in rows:
  if 'Driver' not in row or 'Not Hit' in row:
    df = df[(df.INVTYPE != row)] 

#Replacing not necesarry.
#df.INVTYPE = df.INVTYPE.replace(['Motorcycle Driver', 'Moped Driver', 'Truck Driver'], 'Driver')

print(df.INVTYPE.unique())

#Dropping the column now that I've filtered rows.
df = df.drop(columns = ['INVTYPE'])

EXECUTING TRANSFORMATIONS...
['Driver' 'Motorcycle Driver' 'Truck Driver' 'Moped Driver']

In [34]:
df

      EMERG_VEH  HOOD_ID  HOUR INITDIR INJURY    INVAGE
0          None       88     8   South   None   Unknown
2          None      131     9    East  Fatal  45 to 49
3          None      131     9   South   None   Unknown
4          None      138     2    West   None  25 to 29
7          None       81    19    East   None  30 to 34
...         ...      ...   ...     ...    ...       ...
16853      None       51    14   South  Major  25 to 29
16854      None      123    13   North   None   Unknown
16856      None      138    12    East   None  65 to 69
16857      None      138    12    West  Minor  30 to 34
16859      None       93    12    East   None  50 to 54

[8568 rows x 6 columns]